<footer>
	<br /><br />
	<hr />
	<div class="container mt-2 p-2 text-center" style="background-color: aqua; border: 1px black solid">
		<h4>@ Todos los derechos reservados - Erick Lopez</h4>
	</div>
</footer>
