<!DOCTYPE html>
<html lang="en">
<%-include ('partials/encabezado.html'); %>

	<body style="background-color: blue">
		<div class="container p-2" style="background-color: aliceblue; color: black; border: 1px black solid">
			<form action="/agencia" method="post">
				<div class="form-group">
					<label for="">Num Boleto</label>
					<input type="number" name="numBoleto" id="numBoleto" class="form-control" required />
					<br />
				</div>
				<div class="form-group">
					<label for="">Destino</label>
					<input type="text" name="destino" id="destino" class="form-control" required />
					<br />
				</div>
				<div class="form-group">
					<label for="">Nombre del cliente</label>
					<input type="text" name="nombre" id="nombre" class="form-control" required />
					<br />
				</div>
				<div class="form-group">
					<label for="">Años cumplidos</label>
					<input type="text" name="añosCump" id="añosCump" class="form-control" required />
					<br />
				</div>
				<div class="form-group">
					<label for="">Tipos de viaje</label>
					<select name="tipoViaje" id="tipoViaje" required>
						<option value="1">Sencillo</option>
						<option value="2">Doble</option>
					</select>
					<br /><br />
				</div>
				<div class="form-group">
					<label for="">Precio</label>
					<input type="number" name="precio" id="precio" class="form-control" required />
					<br />
				</div>
				<button type="submit">Calcular</button>
				<button type="reset">Limpiar</button>
				<br />
				<hr />
				<br />
				<div class="container">
					<% let subtotal=0; let impuesto16=0; let descuento=0; let total=0; subtotal=precio; let
						descuentoT=0; impuesto16=subtotal*0.16; if(tipoViaje==2){ subtotal=subtotal*1.8;
						impuesto16=subtotal*0.16; } if(añosCump>=60){
						descuento=0.5;
						total=((Number(subtotal)+Number(impuesto16))*Number(descuento));
						descuentoT = total;
						}else{
						total=(Number(subtotal) + Number(impuesto16));
						}

						%>
						<h3>Resumen de la cotización</h3>
						<br />
						<label>Subtotal : </label><input type="text" disabled value="<%=subtotal%>"><br>
						<label>Impuesto : </label><input type="text" disabled value="<%=impuesto16%>"><br>
						<label>Descuento : </label><input type="text" disabled value="<%=descuentoT%>"><br>
						<label>Total a pagar : </label><input type="text" disabled value="<%=total%>"><br>
				</div>
			</form>
		</div>
	</body>
	<%-include ('partials/piePagina.html'); %>

</html>